HOST=localhost #Use 0.0.0.0 in docker
PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TLS=false

BULL_QUEUE_NAME=notification

SAMA_URL=http://localhost:9001
SAMA_ADMIN_API_KEY=**********

SERVER_UPDATE_INTERVAL=30000
CLIENT_UPDATE_INTERVAL=10000
